@mixin tablet {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 820px) {
    @content;
  }
}

@font-face {
  font-family: "Mail Sans Roman";
  src: url("/public/fonts/MailSansRoman-Light.woff2") format("woff2"),
    url("/public/fonts/MailSansRoman-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.Working {
  padding: 100px 0;
  .content {
    .header {
      text-align: center;
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .subtitle {
        color: #ffeb3b;
        display: block;
        font-size: 18px;
        margin-bottom: 10px;
        background: #ffbe2e1c;
        border: 1px solid #ffffff1a;
        padding: 16px 20px;
        width: 200px;
        border-radius: 100px;

        @include mobile() {
          font-size: 14px;
          padding: 7px 15px;
        }
      }

      .title {
        font-size: 36px;
        font-weight: 700;
        margin: 0;
        line-height: 1.2;
        @include mobile() {
          font-size: 28px;
        }
      }
    }

    .box {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 50px;

      @include mobile() {
        display: flex;
        flex-direction: column;
      }

      .boxLeft {
        width: 50%;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 24px;
        @include mobile() {
          width: 100%;
        }

        .subtitle {
          color: #ffeb3b;
          display: block;
          font-size: 18px;
          background: #ffbe2e1c;
          border: 1px solid #ffffff1a;
          padding: 12px 17px;
          border-radius: 100px;

          @include mobile() {
            font-size: 14px;
            padding: 7px 15px;
          }
        }

        h5 {
          font-family: "Montserrat";
          font-weight: 700;
          font-size: 36px;
          width: 80%;
          @include mobile() {
            font-size: 22px;
            width: 100%;
          }
        }

        p {
          font-family: "Mail Sans Roman", sans-serif;
          font-weight: 300;
          font-size: 22px;
          color: #f5f5f5;
          opacity: 70%;
          width: 80%;
          @include mobile() {
            font-size: 18px;
            width: 100%;
          }
        }
      }

      .divider {
        width: 1px;
        height: 350px;
        position: relative;
        opacity: 40%;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;
          width: 2px;
          transform: translateX(-50%);
          background: linear-gradient(
            to bottom,
            transparent,
            #ffffff,
            transparent
          );
        }

        @include mobile() {
          display: none;
        }
      }
    }
  }
}
