# EmailJS Configuration
# Получите ключи на https://dashboard.emailjs.com/

# Форма на странице /form
NEXT_PUBLIC_EMAILJS_FORM_PUBLIC_KEY=7MZDqAOqQeiz76dwl
NEXT_PUBLIC_EMAILJS_FORM_SERVICE_ID=service_b4uu7fm
NEXT_PUBLIC_EMAILJS_FORM_TEMPLATE_ID=template_15op4k7

# Контактный бот на главной странице
NEXT_PUBLIC_EMAILJS_CONTACT_PUBLIC_KEY=99jSd3AsW_OB-cBIq
NEXT_PUBLIC_EMAILJS_CONTACT_SERVICE_ID=service_rqfx799
NEXT_PUBLIC_EMAILJS_CONTACT_TEMPLATE_ID=template_b179jhr
